body {
  position: relative;
}

a {
  color: black;
}

.d-flex {
  display: flex;
}

.search-btn {
  position: absolute;
}

.btn-news {
  width: 100%;
  background-color: #018553;
  padding: 0.5rem 1rem;
  color: #ffffff;
  text-align: center;
  border-radius: 2px;
  font-size: 12px;
}

.africa-clr {
  color: #fdbc0a;
}

.news-clr {
  color: #70a703;
}

.wall-clr {
  color: #f95913;
}

.country-clr {
  color: #c7ab8c;
}

.news-inner .inner a p {
  border-right: 15px solid #70a703 !important;
}
.news-inner .inner-sports a p {
  border-right: 15px solid #ff0001 !important;
}
.news-inner .inner-bus a p {
  border-right: 15px solid #04a9e9 !important;
}
.news-inner .inner-ent a p {
  border-right: 15px solid #963A8C !important;
}
.news-inner .inner-wall a p {
  border-right: 15px solid #f95913 !important;
}
.news-inner .inner-country a p {
  border-right: 15px solid #c7ab8c !important;
}

.latest-posts-main-section .latest-posts {
  display: flex;
  gap: 15px;
}
.latest-posts-main-section .latest-posts .large-content {
  width: 550px;
}
.latest-posts-main-section .latest-posts .large-content .large-main {
  position: relative;
  position: relative;
  width: 100%;
}
.latest-posts-main-section .latest-posts .large-content .large-main .overlay {
  z-index: 1;
}
.latest-posts-main-section .latest-posts .large-content .large-main-img {
  position: relative;
  height: 300px;
}
.latest-posts-main-section .latest-posts .large-content .large-main-img img {
  width: 550px;
  height: 300px;
}
.latest-posts-main-section .latest-posts .large-content .large-main-info {
  position: absolute;
  bottom: 0;
  left: 5px;
  z-index: 1;
  padding: 10px;
}
.latest-posts-main-section .latest-posts .large-content .large-main-info .info-title h1 {
  color: #ffffff;
  font-size: 30px;
  height: 78px;
  overflow: hidden;
}
.latest-posts-main-section .latest-posts .large-content .large-main-info .meta-share {
  position: absolute;
  left: -5px;
  top: -20px;
}
.latest-posts-main-section .latest-posts .large-content .large-main-info .meta-share .post-numbers {
  color: #ffffff;
}
.latest-posts-main-section .latest-posts .large-content .large-minor {
  margin-top: 15px;
  display: flex;
  gap: 15px;
}
.latest-posts-main-section .latest-posts .large-content .large-minor > a {
  height: 207px;
  background-color: #ffffff;
  width: 173.33px;
}
.latest-posts-main-section .latest-posts .large-content .large-minor .opinion-sub-img {
  height: 105px;
}
.latest-posts-main-section .latest-posts .large-content .large-minor .opinion-sub-img img {
  height: 105px;
}
.latest-posts-main-section .latest-posts .large-content .large-minor .opinion-sub-info {
  position: relative;
  padding: 5px 10px 10px 10px;
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.latest-posts-main-section .latest-posts .large-content .large-minor .opinion-sub-info .opinion-title h2 {
  font-size: 15px;
  color: #646464;
  height: 39px;
  margin-bottom: 15px;
  overflow: hidden;
  font-weight: 400;
}
.latest-posts-main-section .latest-posts .large-content .large-minor .opinion-sub-info .meta-share {
  position: absolute;
  left: -5px;
  bottom: -13px;
}
.latest-posts-main-section .latest-posts .large-content .large-minor .opinion-sub-info .meta-share .post-numbers i {
  color: #646464;
}
.latest-posts-main-section .latest-posts .sub-section .latest-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 335px;
}
.latest-posts-main-section .latest-posts .sub-section .latest-wrapper .just-in-small {
  display: flex;
  height: 119.5px;
  width: 335px;
  gap: 10px;
  padding: 10px;
  background-color: #ffffff;
}
.latest-posts-main-section .latest-posts .sub-section .latest-wrapper .just-in-small-img {
  width: 150px;
  height: 100px;
}
.latest-posts-main-section .latest-posts .sub-section .latest-wrapper .just-in-small-img img {
  width: 150px;
  height: 100px;
}
.latest-posts-main-section .latest-posts .sub-section .latest-wrapper .just-in-small .post-info {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 0px 10px 0 0;
  position: relative;
}
.latest-posts-main-section .latest-posts .sub-section .latest-wrapper .just-in-small .post-info .post-title h3 {
  font-size: 14px;
  height: 52px;
  overflow: hidden;
  color: #646464;
  font-weight: 400;
}
.latest-posts-main-section .latest-posts .sub-section .latest-wrapper .just-in-small .post-info .meta-share {
  display: flex;
  position: absolute;
  left: -15px;
  bottom: -8px;
}
.latest-posts-main-section .latest-posts .sub-section .latest-wrapper .just-in-small .post-info .meta-share span .fa-clr {
  font-size: 0.7rem;
}

.more-content {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.more-content-wrapper {
  display: flex;
  gap: 15px;
}
.more-content-wrapper .extra-content-left {
  width: 615px;
}
.more-content-wrapper .extra-content-left .content-block {
  display: flex;
  gap: 15px;
  width: 615px;
  flex-wrap: wrap;
}
.more-content-wrapper .extra-content-left .content-block .extra-content-post {
  width: 142.5px;
}
.more-content-wrapper .extra-content-left .content-block .extra-content-post .extra-content-img {
  height: 73px;
}
.more-content-wrapper .extra-content-left .content-block .extra-content-post .extra-content-img img {
  height: 73px;
  width: 142.5px;
}
.more-content-wrapper .extra-content-left .content-block .extra-content-post .post-info .post-title {
  height: 34px;
  overflow: hidden;
}
.more-content-wrapper .extra-content-left .content-block .extra-content-post .post-info .post-title p {
  font-weight: 400;
  font-size: 14px;
  font-size: 12px;
  line-height: 1.5;
}
.more-content-wrapper .extra-content-left .middle {
  display: flex;
  gap: 15px;
  margin: 15px 0;
}
.more-content-wrapper .extra-content-left .middle .m-left {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  width: 315px;
  height: 100%;
}
.more-content-wrapper .extra-content-left .middle .m-left a {
  width: 142.5px;
}
.more-content-wrapper .extra-content-left .middle .m-left a .extra-content-post .extra-content-img {
  height: 73px;
}
.more-content-wrapper .extra-content-left .middle .m-left a .extra-content-post .extra-content-img img {
  height: 73px;
  width: 142.5px;
}
.more-content-wrapper .extra-content-left .middle .m-left a .post-info .post-title {
  height: 37px;
  overflow: hidden;
}
.more-content-wrapper .extra-content-left .middle .m-left a .post-info .post-title p {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}
.more-content-wrapper .extra-content-left .middle .m-right img {
  width: 300px;
  height: 600px;
}
.more-content-wrapper .extra-content-right {
  width: 285px;
}
.more-content-wrapper .extra-content-right #load_headlines {
  margin: 0 0 5px;
  background-color: #ffffff;
}
.more-content-wrapper .extra-content-right #load_headlines li {
  list-style: none;
  list-style-type: none;
  padding: 10px 10px 10px 50px;
  min-height: 22px;
  margin: 0;
  position: relative;
  border-bottom: solid 1px #e2e2e2;
}
.more-content-wrapper .extra-content-right #load_headlines li a {
  color: #262626;
  text-decoration: none;
}
.more-content-wrapper .extra-content-right #load_headlines li a:visited {
  color: #767676;
}
.more-content-wrapper .extra-content-right #load_headlines li .time {
  width: 32px;
  position: absolute;
  left: 10px;
  background: #70a703;
  color: #fff;
  font-size: 10px;
  text-align: center;
  font-weight: 400;
}
.more-content-wrapper .extra-content-right #load_headlines li p {
  margin-bottom: 0;
  height: 29px;
  font-size: 12px;
  font-weight: 400;
  overflow: hidden;
}
.more-content-wrapper .extra-content-right #load_headlines li span img {
  display: none;
}

.extra-content-right .business .time {
  background-color: #04a9e9 !important;
}
.extra-content-right .sports .time {
  background-color: #ff0001 !important;
}
.extra-content-right .africa .time {
  background-color: #fdbc0a !important;
}
.extra-content-right .wall .time {
  background-color: #f95913 !important;
}
.extra-content-right .country .time {
  background-color: #c7ab8c !important;
}
.extra-content-right .entertainment .time {
  background-color: #963A8C !important;
}

.more {
  margin: 15px 0;
}
.more .more-section {
  margin-bottom: 15px;
}
.more .more-section .politics-wrapper, .more .more-section .regional-wrapper, .more .more-section .crime-wrapper, .more .more-section .health-wrapper {
  gap: 15px;
}

.e-more-content {
  width: 213.75px;
  height: 62px;
  gap: 10px;
  background-color: #ffffff;
}
.e-more-content .content-img img {
  width: 100px;
  height: 62px;
}
.e-more-content .content--info {
  overflow: hidden;
  padding: 5px 5px 5px 0;
}
.e-more-content .content--info p {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}

.leaderboard-ad {
  display: grid;
  place-items: center;
}
.leaderboard-ad img {
  width: 970px;
  height: 90px;
}

.strip_title {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 0 0 15px;
}
.strip_title span {
  display: inline-block;
  height: 16px;
  vertical-align: bottom;
}
.strip_title span::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 1px;
  top: 9px;
  border-bottom: 4px solid rgb(141, 141, 141);
}/*# sourceMappingURL=inner-pages.css.map */