a {
  color: black;
}

.africa-clr {
  color: #fdbc0a;
}

.news-clr {
  color: #70a703;
}

.news-inner .inner a p {
  border-right: 15px solid #70a703 !important;
}

.latest-posts-main-section .latest-posts {
  display: flex;
  gap: 15px;
}
.latest-posts-main-section .latest-posts .large-content {
  width: 550px;
}
.latest-posts-main-section .latest-posts .large-content .large-main {
  position: relative;
  position: relative;
  width: 100%;
}
.latest-posts-main-section .latest-posts .large-content .large-main .overlay {
  z-index: 1;
}
.latest-posts-main-section .latest-posts .large-content .large-main-img {
  position: relative;
  height: 380px;
}
.latest-posts-main-section .latest-posts .large-content .large-main-img img {
  width: 550px;
  height: 380px;
}
.latest-posts-main-section .latest-posts .large-content .large-main-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 2;
  padding: 10px;
}
.latest-posts-main-section .latest-posts .large-content .large-main-info .info-title h1 {
  color: #fff;
  font-size: 30px;
  height: 78px;
  overflow: hidden;
}
.latest-posts-main-section .latest-posts .large-content .large-main-info .meta-share {
  position: absolute;
  left: -5px;
  top: -20px;
}
.latest-posts-main-section .latest-posts .large-content .large-main-info .meta-share .post-numbers {
  color: #fff;
}
.latest-posts-main-section .latest-posts .large-content .large-minor {
  margin-top: 15px;
  display: flex;
  gap: 15px;
}
.latest-posts-main-section .latest-posts .large-content .large-minor > div {
  width: 201.6px;
  height: 311px;
  background-color: #fff;
}
.latest-posts-main-section .latest-posts .large-content .large-minor .opinion-sub-img img {
  height: 125px;
}
.latest-posts-main-section .latest-posts .large-content .large-minor .opinion-sub-info {
  position: relative;
  padding: 10px;
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.latest-posts-main-section .latest-posts .large-content .large-minor .opinion-sub-info .opinion-title h2 {
  font-size: 16px;
  color: #646464;
  height: 97px;
  overflow: hidden;
}
.latest-posts-main-section .latest-posts .large-content .large-minor .opinion-sub-info .meta-share {
  position: absolute;
  left: -5px;
  bottom: -25px;
}
.latest-posts-main-section .latest-posts .large-content .large-minor .opinion-sub-info .meta-share .post-numbers i {
  color: #646464;
}
.latest-posts-main-section .latest-posts .sub-section .latest-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 335px;
}
.latest-posts-main-section .latest-posts .sub-section .latest-wrapper .just-in-small {
  display: flex;
  height: 105px;
  width: 335px;
  padding: 10px;
  background-color: #fff;
}
.latest-posts-main-section .latest-posts .sub-section .latest-wrapper .just-in-small-img {
  width: 145px;
  height: 85px;
}
.latest-posts-main-section .latest-posts .sub-section .latest-wrapper .just-in-small-img img {
  width: 145px;
  height: 85px;
}
.latest-posts-main-section .latest-posts .sub-section .latest-wrapper .just-in-small .post-info {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 0px 10px 0 0;
  position: relative;
}
.latest-posts-main-section .latest-posts .sub-section .latest-wrapper .just-in-small .post-info .post-title h3 {
  font-size: 14px;
  height: 55px;
  overflow: hidden;
  color: #646464;
  font-weight: 400;
}
.latest-posts-main-section .latest-posts .sub-section .latest-wrapper .just-in-small .post-info .meta-share {
  display: flex;
  position: absolute;
  left: -15px;
  bottom: -8px;
}
.latest-posts-main-section .latest-posts .sub-section .latest-wrapper .just-in-small .post-info .meta-share span .fa-clr {
  font-size: 0.7rem;
}

.more-content {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.more-content-wrapper {
  display: flex;
  gap: 15px;
}
.more-content-wrapper .just-in-small .post-info .post-title p {
  height: 65px;
  overflow: hidden;
  font-size: 18px;
  color: #646464;
  font-weight: 100;
}

.just-in-small {
  width: 442.5px;
  display: flex;
  gap: 10px;
  background-color: #fff;
}
.just-in-small-img {
  width: 205px;
  height: 130px;
}
.just-in-small-img img {
  width: 205px;
  height: 130px;
}
.just-in-small .post-info {
  position: relative;
  display: flex;
  gap: 5px;
  flex-direction: column;
  padding: 7px 10px 0 0;
}
.just-in-small .post-info .meta-share {
  position: absolute;
  left: -15px;
  bottom: 5px;
}

.more-content-block {
  display: flex;
  gap: 15px;
}
.more-content-block .side-block {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.more-content-block .side-block .small-ad img {
  width: 300px;
}
.more-content-block .side-block .side-block-wrapper {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.more-content-block .side-block .side-block-wrapper .just-in-small {
  width: 100%;
}/*# sourceMappingURL=inner-pages.css.map */