@import url("https://fonts.cdnfonts.com/css/helvetica-neue-9?styles=49034,49042,49044,49045");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f3f3;
  font-family: "Helvetica Neue", sans-serif;
}

.container {
  max-width: 1245px;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.fa {
  border-radius: 20px;
  border: 2px solid rgba(243, 243, 243, 0.85);
  padding: 0.5rem;
  margin-left: 10px;
  color: #f3f3f3;
}
.fa-clr {
  color: #646464;
  font-size: 0.9rem;
}

.fa-clr, .fa-b-no {
  border: none !important;
}

.e-p {
  padding: 0.5rem 0.7rem;
}

.cat-line-position {
  position: absolute;
  top: 12px;
  left: 20px;
}

.cat-text-position {
  position: absolute;
  top: 15px;
  left: 48px;
}

.text-black {
  color: #000002 !important;
}

.content--title {
  width: 100%;
}
.content--title h1 {
  text-transform: uppercase;
  font-size: 24px;
  color: #F0F0F0;
}

.po-move {
  left: 73px !important;
}

.li-move {
  left: 43px !important;
}

.business-clr {
  color: #04A9E9;
}

.sports-clr {
  color: #FC0004;
}

.ent-clr {
  color: #97388A;
}

.post-numbers {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #A0A0A0;
  font-weight: 700;
}

.meta-info p {
  border-radius: 20px;
  color: #010101;
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
}

.pill {
  background-color: #F0F0F0;
  border-radius: 20px;
}

.post-numbers svg {
  width: 20px;
  height: 20px;
}

.nav-bg {
  background-color: #018553;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  margin-bottom: 40px;
}
.nav-container .logo img {
  width: 150px;
}
.nav-container .search-container {
  display: flex;
  justify-content: space-around;
}
.nav-container .input-group input {
  border: none;
  height: auto;
  width: 350px;
  padding: 0.75rem 0.6rem;
  border-radius: 10px;
  margin-left: 10px;
}

.all-categories {
  background-color: #f3f3f3;
  font-size: 14px;
}
.all-categories .categories {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}
.all-categories .categories .news-category {
  width: 100%;
  padding: 1.5rem 0;
  height: auto;
  text-align: center;
  font-weight: 700;
  position: relative;
}
.all-categories .categories .news-category > div > div {
  width: 25px;
  height: 3px;
  background-color: #487C43;
  margin: 3px 0;
  border-radius: 2px;
}

.discover {
  background-color: #4AAA84;
  padding: 0.7rem 0;
}
.discover .burger-icon {
  display: inline-block;
  cursor: pointer;
  position: relative;
}
.discover .burger-icon::after {
  content: "Discover";
  position: absolute;
  top: 5px;
  color: #f3f3f3;
  font-weight: 700;
  right: -75px;
}
.discover .burger-icon > div {
  width: 35px;
  height: 3px;
  background-color: #f3f3f3;
  margin: 3px 0;
}
.discover .change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}
.discover .change .bar2 {
  opacity: 0;
}
.discover .change .bar3 {
  transform: translate(0, -2px) rotate(45deg);
}
.discover .change .bar4 {
  opacity: 0;
}

main {
  height: auto;
}
main .page-content {
  display: flex;
  gap: 15px;
  margin-top: 1.5rem;
}
main .page-content .main-content {
  width: 905px;
}
main .page-content .main-content .section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .page-content .main-content .section-title h1 {
  background-color: #dfdfdf;
  border-right: 15px solid #FDBC0A;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 20px;
}
main .page-content .main-content .just-in-content {
  display: flex;
  gap: 15px;
  padding-bottom: 20px;
}
main .page-content .main-content .just-in-content .just-in {
  width: 462.5px;
}
main .page-content .main-content .just-in-content .just-in .content-post .content-img {
  width: 100%;
  height: 205px;
  background-color: #dfdfdf;
}
main .page-content .main-content .just-in-content .just-in .content-post .content-img img {
  height: inherit;
  object-fit: cover;
  border-radius: 4px 4px 0 0px;
}
main .page-content .main-content .just-in-content .just-in .content-post .content-info {
  padding: 1.5rem 0.9rem 3.5rem 0.9rem;
  background-color: #010101;
  color: #dfdfdf;
  border-radius: 0 0 4px 4px;
}
main .page-content .main-content .just-in-content .just-in .content-post .content-info .meta-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.85rem;
}
main .page-content .main-content .just-in-content .just-in .content-post .content-info .meta-info p {
  background-color: #f3f3f3;
  padding: 0.5rem;
  text-align: center;
}
main .page-content .main-content .just-in-content .just-in .content-post .content-info .meta-info p span {
  color: #487C43;
  font-weight: 700;
}
main .page-content .main-content .just-in-content .just-in-wrapper {
  display: flex;
  flex-direction: column;
  width: 462.5px;
}
main .page-content .main-content .just-in-content .just-in-wrapper .just-in-small {
  margin-bottom: 15px;
  display: flex;
  background-color: #fff;
  border-radius: 4px;
}
main .page-content .main-content .just-in-content .just-in-wrapper .just-in-small-img {
  height: 133.5px;
  margin-right: 10px;
}
main .page-content .main-content .just-in-content .just-in-wrapper .just-in-small-img img {
  height: 133.5px;
  object-fit: cover;
  object-position: center;
  width: 200px;
  border-radius: 4px 0 0 4px;
}
main .page-content .main-content .just-in-content .just-in-wrapper .just-in-small .post-info {
  position: relative;
}
main .page-content .main-content .just-in-content .just-in-wrapper .just-in-small .meta-info {
  padding-bottom: 0.2rem;
}
main .page-content .main-content .just-in-content .just-in-wrapper .just-in-small .meta-info p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
}
main .page-content .main-content .just-in-content .just-in-wrapper .just-in-small .meta-info span {
  font-weight: 700;
  padding: 0.3rem;
}
main .page-content .main-content .just-in-content .just-in-wrapper .just-in-small .post-title {
  padding: 0 10px 10px 5px;
}
main .page-content .main-content .just-in-content .just-in-wrapper .just-in-small .post-title h3 {
  font-size: 1.09rem;
}
main .page-content .main-content .just-in-content .just-in-wrapper .just-in-small .meta-share {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 5px;
  left: -10px;
}
main .page-content .main-content .long-banner {
  width: 100%;
}
main .page-content .main-content .long-banner img {
  height: auto;
}
main .video-section {
  margin-top: 20px;
}
main .video-section .vid-bg {
  background-color: #000002;
  padding: 0.5rem 0.9rem;
}
main .video-section-title {
  border-bottom: 2px solid #A0A0A0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
main .video-section-title h1 {
  text-transform: uppercase;
  color: #dfdfdf;
}
main .video-section-title a {
  color: #f3f3f3 !important;
}
main .video-section-content {
  width: 910px;
}
main .video-section-content .vid-content {
  display: flex;
  gap: 15px;
  padding: 20px 30px;
}
main .video-section .main-video {
  width: 610px;
}
main .video-section .main-video .video {
  position: relative;
}
main .video-section .main-video .video img {
  height: 420px;
  border-radius: 4px;
  position: relative;
}
main .video-section .main-video .video .meta-info-vid {
  top: 0;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
main .video-section .main-video .video .meta-info-vid .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 20px;
  left: 20px;
  height: 402px;
}
main .video-section .main-video .video .meta-info-vid .left .play-btn {
  width: 60px;
  height: 60px;
  background-color: #F0F0F0;
  border-radius: 50%;
  position: relative;
}
main .video-section .main-video .video .meta-info-vid .left .play-btn::after {
  content: "";
  position: absolute;
  top: 25%;
  left: 40%;
  border-style: solid;
  border-width: 15px 0 15px 15px;
  border-color: transparent transparent transparent #000002;
}
main .video-section .main-video .video .meta-info-vid .left .meta-info {
  position: relative;
  bottom: 20px;
  padding: 0.5rem 0.6rem;
  width: 170px;
}
main .video-section .main-video .video .meta-info-vid .left .meta-info p {
  text-align: center;
}
main .video-section .main-video .video .meta-info-vid .left .meta-info p span {
  color: #97388A;
  font-weight: 700;
}
main .video-section .main-video .video .meta-info-vid .right {
  top: 0;
  right: 0;
  position: relative;
  height: 420px;
  width: 100px;
  background-color: rgba(1, 1, 1, 0.6);
}
main .video-section .main-video .video .meta-info-vid .right .meta-share {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 0.4rem;
  gap: 20px;
  justify-content: center;
}
main .video-section .main-video .video .meta-info-vid .right .meta-share span {
  color: #f3f3f3;
  font-size: 1.2rem;
}
main .video-section .main-video .content--title {
  padding-top: 1rem !important;
}
main .video-section .side-videos {
  width: 250px;
  display: flex;
  flex-direction: column;
}
main .video-section .side-videos .side-video {
  padding-bottom: 45px;
  position: relative;
  width: 200px;
}
main .video-section .side-videos .side-video img {
  width: 200px;
  height: 150px;
}
main .video-section .side-videos .side-video-text {
  position: relative;
}
main .video-section .side-videos .side-video-text h3 {
  color: #f3f3f3;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
}
main .video-section .side-videos .side-video .meta-share {
  position: absolute;
  left: -14px;
}
main .video-section .side-videos .side-video .meta-share span {
  color: #f3f3f3;
}
main .opinions {
  margin-top: 15px;
  margin-bottom: 2rem;
}
main .opinions-wrapper {
  display: flex;
  gap: 15px;
}
main .opinions-wrapper .opinion-main {
  width: 395px;
}
main .opinions-wrapper .opinion-main .opinion-img {
  position: relative;
  height: 350px;
  width: 395px;
}
main .opinions-wrapper .opinion-main .opinion-img img {
  position: relative;
  height: 350px;
  border-radius: 4px 4px 0 0;
}
main .opinions-wrapper .opinion-main .opinion-img .meta-cat {
  padding: 0.3rem 0.4rem;
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: auto;
}
main .opinions-wrapper .opinion-main .opinion-img .meta-cat p {
  font-family: "Open Sans", sans-serif;
}
main .opinions-wrapper .opinion-main .opinion-img .meta-cat p span {
  color: #FDBC0A;
  font-size: 0.8rem;
  font-weight: 700;
}
main .opinions-wrapper .opinion-main .post-content {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  padding: 1.5rem 1.5rem 4.3rem 1.5rem;
}
main .opinions-wrapper .opinion-main .post-content .content--title {
  position: relative;
}
main .opinions-wrapper .opinion-main .post-content .meta-share {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}
main .opinions-wrapper .opinion-main .post-content .meta-share span {
  bottom: -50px;
}
main .opinions-wrapper .opinion-main .post-content .meta-share span:nth-child(1) {
  position: absolute;
  left: -15px;
}
main .opinions-wrapper .opinion-main .post-content .meta-share span:nth-child(2) {
  position: absolute;
  left: 60px;
}
main .opinions-wrapper .opinion-main .post-content .meta-share span:nth-child(3) {
  position: absolute;
  left: 150px;
}
main .opinions-wrapper .opinion-main .post-content .meta-share p {
  padding-top: 15px;
}
main .opinions-wrapper .opinion-main .post-content .meta-share .post-numbers .fa {
  font-size: 20px;
}
main .opinions-wrapper .opinion-sub-wrapper {
  display: flex;
  gap: 15px;
}
main .opinions-wrapper .opinion-sub-wrapper .opinion-top {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
main .opinions-wrapper .opinion-sub-wrapper .opinion-sub .opinion-img {
  position: relative;
  width: 240.5px;
}
main .opinions-wrapper .opinion-sub-wrapper .opinion-sub .opinion-img img {
  width: 240.5px;
  border-radius: 4px 4px 0 0;
  height: 157.5px;
  position: relative;
}
main .opinions-wrapper .opinion-sub-wrapper .opinion-sub .opinion-img .meta-cat {
  position: absolute;
  bottom: 20px;
  left: 10px;
  width: auto;
  padding: 0.3rem 0.5rem;
}
main .opinions-wrapper .opinion-sub-wrapper .opinion-sub .opinion-img .meta-cat p {
  font-family: "Open Sans", sans-serif;
}
main .opinions-wrapper .opinion-sub-wrapper .opinion-sub .opinion-img .meta-cat p span {
  color: #FDBC0A;
  font-size: 0.8rem;
  font-weight: 700;
}
main .opinions-wrapper .opinion-sub-wrapper .opinion-content-wrapper {
  position: relative;
  background-color: #fff;
  padding: 1rem 1rem;
  border-radius: 0 0 4px 4px;
}
main .opinions-wrapper .opinion-sub-wrapper .opinion-content-wrapper .opinion-title {
  position: relative;
  padding-bottom: 1.15rem;
}
main .opinions-wrapper .opinion-sub-wrapper .opinion-content-wrapper .opinion-title .meta-share span {
  bottom: -15px;
}
main .opinions-wrapper .opinion-sub-wrapper .opinion-content-wrapper .opinion-title .meta-share span:nth-child(1) {
  position: absolute;
  left: -15px;
}
main .opinions-wrapper .opinion-sub-wrapper .opinion-content-wrapper .opinion-title .meta-share span:nth-child(2) {
  position: absolute;
  left: 60px;
}
main .opinions-wrapper .opinion-sub-wrapper .opinion-content-wrapper .opinion-title .meta-share span:nth-child(3) {
  position: absolute;
  left: 150px;
}
main aside {
  width: 300px;
}
main aside .ads {
  width: 300px;
  padding-bottom: 15px;
}
main aside .ads img {
  height: 625px;
}
main aside .ads-2 {
  margin-top: 15px;
}
main aside .spotlight {
  background-color: #fff;
  border-top: 5px solid #487C43;
}
main aside .spotlight-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.4rem;
}
main aside .spotlight-title h3 {
  font-family: "Open Sans", sans-serif;
}
main aside .spotlight-content {
  display: flex;
}
main aside .spotlight-content .spotlight-img {
  width: 150px;
  padding-right: 15px;
}
main aside .spotlight-content .spotlight-img img {
  width: 110px;
  height: 90px;
}
main aside .poll-title {
  border: 2px solid #646464;
  border-radius: 2px;
  height: auto;
  padding: 1rem;
  margin-top: 1rem;
  text-align: center;
  background-color: #E4F7FE;
}
main aside .poll-content {
  padding: 1rem;
  border: 2px solid #646464;
}
main aside .poll-content form .poll-question {
  font-size: 1.1rem;
}
main aside .poll-content form .answers {
  padding-top: 1rem;
}
main aside .poll-content form .answers label {
  font-weight: 400;
}
main aside .poll-content form .answers .answer {
  border: 2px solid #000002;
  border-radius: 20px;
  padding: 0.5rem 0 0.5rem 1rem;
  height: 40px;
  margin: 1rem 0px;
  position: relative;
}
main aside .poll-content form .answers .answer input {
  position: absolute;
  right: 20px;
  top: 30%;
}
main aside .poll-content form .submit-btn {
  border-radius: 20px;
  border: none;
  color: black;
  background-color: #01B5FD;
  padding: 1rem 0.8rem;
  width: 100%;
  font-weight: 700;
}
main aside .poll-content .socials {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 15px;
}
main aside .poll-content .socials .social img {
  width: 30px;
  height: auto;
}
main aside .sport-border {
  margin-top: 15px;
  border-top: 5px solid #FC0004 !important;
}

@media (hover: hover) {
  .line1, .line2, .line3, .line4 {
    transform: translateX(-20px);
    opacity: 0;
    transition: 0.2s;
  }
  .news-category:hover > div > div {
    transform: translateX(0px);
    opacity: 1;
  }
  .line1 {
    transition-delay: 0s;
  }
  .line2 {
    transition-delay: 0.05s;
  }
  .line3 {
    transition-delay: 0.01s;
  }
}/*# sourceMappingURL=style.css.map */